*.class
nbactions.xml

# Package Files #
*.jar
*.war
*.ear
*.zip
*.csv
*.mdb

#dependencies and resources
dependencies/*
resources/*
output/*

target/*

#files
README.html
README.md~
Makefile~
.Rhistory
*.~
.*~
